In [21]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import yfinance as yf
import  plotly
import datetime

In [25]:
start = datetime.datetime(2016,1,1)
end = datetime.datetime.today()

In [34]:
data = yf.download(tickers='BTC-USD', start=start, end=end, interval='1d')

[*********************100%***********************]  1 of 1 completed

In [37]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-12-31,425.875000,432.920990,418.734985,430.566986,430.566986,45996600
2016-01-01,430.721008,436.246002,427.515015,434.334015,434.334015,36278900
2016-01-02,434.622009,436.062012,431.869995,433.437988,433.437988,30096600
2016-01-03,433.578003,433.743011,424.705994,430.010986,430.010986,39633800
2016-01-04,430.061005,434.516998,429.084015,433.091003,433.091003,38477500
...,...,...,...,...,...,...
2022-03-21,41246.132812,41454.410156,40668.042969,41077.996094,41077.996094,24615543271
2022-03-22,41074.105469,43124.707031,40948.281250,42358.808594,42358.808594,32004652376
2022-03-23,42364.378906,42893.507812,41877.507812,42892.957031,42892.957031,25242943069
2022-03-24,42886.652344,44131.855469,42726.164062,43960.933594,43960.933594,31042992291
2022-03-25,43958.675781,44982.519531,43711.871094,44950.210938,44950.210938,34982752256